CompileFlags:
  Compiler: clang++
  Add: [-Iinclude/ -Ilibs/, -std=c++20, -Wall, -Wextra, -Wpedantic]

Completion:
  ArgumentLists: Delimiters

InlayHints:
  Enabled: true
  ParameterNames: true
  DeducedTypes: true
  Designators: false
  BlockEnd: false
  DefaultArguments: false
  TypeNameLimit: 24

---

If:
	PathMatch: .*\.cpp
CompileFlags:
  Add: [-xc++]
---

If:
	PathMatch: .*\.h
CompileFlags:
  Add: [-xc++-header]